/* Tricks to remove imPhotoSmall content from Add Menu */
#imphotosmall {
display: none !important;
}
/*
.formTabs {
	display: none !important;
}
*/
.XXXtests {
	background: Blue;
	display: none !important;
}
table.MetadataTable td {
	padding: 5px;
	color: Black;
}
table.MetadataTable tr:nth-child(odd) {
	background: #EEC;
	}
table.MetadataTable tr:nth-child(even) {
	background: #CEE;
	}
.MetadataTable tr td:nth-child(1) {
	font-weight: bold;
}
.MetadataTable tr td:nth-child(2) {
	font-style: italic;
}
.iuemCollapsedHeading {
    cursor: hand;
    cursor: pointer;
}
/*
.iuemCollapsedHeading.iuemCollapsed:before {
    content: "▶ ";
}
 
.iuemCollapsedHeading:before {
    content: "▼ ";
}
*/
.iuemCollapsedHeading.iuemCollapsed:before {
    content: "+ ";
}
 
.iuemCollapsedHeading:before {
    content: "- ";
}

body {
	background-color: #F9F9F9;
}
