/* Tricks to remove imPhotoSmall content from Add Menu */

#archetypes-fieldname-licencetype td {
	padding-right: 10px;
}
//*[@id="archetypes-fieldname-licencetype"]/td[1]
#imphotosmall {
display: none !important;
}
/*
.formTabs {
	display: none !important;
}
*/
.documentDescription {
	display: none !important;
}
table.MetadataTable td {
	padding: 5px;
	color: Black;
}
table.MetadataTable tr:nth-child(odd) {
	background: #EEC;
	}
table.MetadataTable tr:nth-child(even) {
	background: #CEE;
	}
.MetadataTable tr td:nth-child(1) {
	font-weight: bold;
}
.MetadataTable tr td:nth-child(2) {
	font-style: italic;
}
.iuemCollapsedHeading {
    cursor: hand;
    cursor: pointer;
}

/* To change the visual of a folder */

.photoAlbumFolder {
	background-image: url('++resource++iuem_repository_static/img/polaroid-multi-vert.png');
	background-repeat: no-repeat;
}


/* actions hidden to users */
#plone-contentmenu-display,
#contentview-transform {
	display: none;
}

/* We hide fields no more used */
#fieldsetlegend-categorization,
#fieldsetlegend-dates,
#fieldsetlegend-ownership {
	display: none !important;
}

/* We hide fields which are not yet used */
#archetypes-fieldname-latitude,
#archetypes-fieldname-longitude {
	display: none;
}
/*
.iuemCollapsedHeading.iuemCollapsed:before {
    content: "▶ ";
}
 
.iuemCollapsedHeading:before {
    content: "▼ ";
}
*/
.iuemCollapsedHeading.iuemCollapsed:before {
    content: "+ ";
}
 
.iuemCollapsedHeading:before {
    content: "- ";
}

.hidden {
	display: none;
}

.requestError {
	color: Red;
}

body {
	background-color: #F9F9F9;
}
